@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
  @apply text-primary tracking-wide;
}

:root {
  --ratio: 1.5;
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
}
