.header {
  margin-top: var(--s5);
  margin-bottom: var(--s3);
  text-align: center;
}

.logo {
  display: inline;
}

.name {
  font-size: var(--s3);
  line-height: 1.2;
}

.who {
  font-size: var(--s-1);
  color: var(--color-tertiary);
}
